<smart3mf>
	<export file="qrcode.3mf">
		<base>
			<name>Hook</name>
			<scad file="test.scad" key="sub_model" value="Hook"/>    <!-- params="qrcode.json" preset="Defaults" -->
			<transform>1.0 0.0 0.0 0.0 1.0 0 0.0 0 1.0 110.0 110.0 4.5</transform>
			<metadatagroup>
				<metadata name="cura:top_bottom_thickness">0</metadata>
				<metadata name="cura:wall_thickness">0</metadata>
			</metadatagroup>
		</base>
		<model>
			<name>Support1</name>
			<scad file="test.scad" key="sub_model" value="Cube1"/>
			<transform>1.0 0.0 0.0 0.0 0.0 -1.0 0.0 1.0 0.0 110.0 110.0 2.5</transform>
			<metadatagroup>
				<metadata name="cura:anti_overhang_mesh">True</metadata>
				<!--<metadata name="cura:support_mesh">True</metadata>-->
			</metadatagroup>
		</model>
		<model>
			<name>Support2</name>
			<scad file="test.scad" key="sub_model" value="Cube2"/>
			<transform>1.0 0.0 0.0 0.0 0.0 -1.0 0.0 1.0 0.0 110.0 110.0 1.0</transform>
			<metadatagroup>
				<metadata name="cura:top_bottom_thickness">0</metadata>
				<metadata name="cura:wall_thickness">0</metadata>
			</metadatagroup>
		</model>
		<thumbnail>
			<!--<image file=""/>-->
			<scad file="test.scad" key="sub_model" value="Hook" imgsize="256,256" camera="0,0,0,0,0,0,10"/>
		</thumbnail>
	</export>
</smart3mf>